@charset 'utf-8';
html, body { height:100%; -webkit-text-size-adjust:none; font-family:"NanumSquare", "Apple SD Gothic Neo", dotum,"돋움",Arial,Sans-serif; font-size:18px;color:#000;}
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table { line-height:1.5; font:inherit; color:inherit; }
html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption { margin:0; padding:0; font-style: normal;box-sizing: border-box;}
ol, ul, li { list-style:none; }
img, fieldset { vertical-align:middle; border:0 none; }
input, select, textarea { vertical-align:middle; resize:none; }
input[type=text], input[type=password], input[type=submit], input[type=search], input[type=email], input[type=tel], textarea { -webkit-appearance:none; border-radius: 0;}
select {padding:5px 20px 5px 10px;-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;-webkit-appearance:none; border-radius: 0;border:1px solid #c9c9c9;}
/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }
button { border:0 none; background:transparent; cursor:pointer; font-family:"NanumSquare", "Apple SD Gothic Neo";}
hr { display:none; }
legend, .hide { position:absolute; left:-9999px; }
table caption { width:0; height:0; visibility:hidden; text-indent:-9999px; font-size:0; line-height:0; }
table { border-collapse:collapse; border-spacing:0; width:100%;table-layout: fixed;}
header, footer, section, article, aside, nav, hgroup, main, details, menu, figure, figcaption { display:block; box-sizing: border-box;}

/* common */
.left_box {float:left;}
.right_box {float:right;}
.blind {width:1px;height:1px;font-size:0;line-height:0;position:absolute;top:0;left:-1000%;overflow:hidden;}
a { color:inherit; text-decoration:none; }
a:active, a:hover, a:focus { text-decoration:none; }
.clear:after {content: '';display: block;clear: both;}
.fl {float: left;}
.fr {float: right;}
.m_br {display: none;}
.pc_br {display: block;}
.poppins {font-family: "Poppins", "Apple SD Gothic Neo", sans-serif;}

body {background-color: #f4f4f4;}
.bg_dimmed {display:none;position:fixed;left:0;top:0;background:rgba(0,0,0,0.6);width:100%;height:100%;z-index:100;}
.wrap {
    position: relative;
    max-width:1920px;
    width: 100%;
    margin:0 auto;
    overflow: hidden;
    padding-bottom: 140px;
    &::after {
        content: '';
        display: block;
        width: 1680px;
        height: 4410px;
        opacity: 0.81;
        border-top-right-radius: 300px;
        background-color: #ececec;
        position: absolute;
        left: 0;
        top:1660px;
    }
}
.header {
    width: 100%;
    transition: all .6s;
    z-index: 100;
    position: fixed;
    left:0;
    top:0;
    .inner {
        width: 1080px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pc_menu {
            position: relative;
            width: 48px;
            height: 48px;
            background: url(../img/header-ic-menu.svg) no-repeat 50% / cover;
            &.open {
                background: url(../img/header-ic-close.svg) no-repeat 50% / cover;
            
            }
            
        }
        nav {
            display: none;
            position: absolute;
            right:0;
            top:84px;
            width: 209px;
            background-color: #fff;
            padding: 45px 0 0 26px;
            border-radius: 15px;
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
            li {
                margin-bottom: 37px;
                font-size: 18px;
                font-weight: 400;
                color:#666;
                position: relative;
                padding-left: 25px;
                &.active,&:hover {
                // &:hover {
                    color:#333;
                    font-weight: 700;
                }
                &.active::before {
                // &:hover::before {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    // background-image: linear-gradient(225deg, rgba(0, 10, 255, 0.74) 100%, #b231be 0%);
                    background-image: linear-gradient(225deg,rgba(0, 10, 255, 0.74) 0, #b231be 100%);
                    position: absolute;
                    left:0;
                    top:3px;
                    transform: rotate(-270deg);
                }
                a {
                    display: block;
                }

            }
            &.on {
                display: block;
            }
        }
        .language_box {
            transform: translateX(-50%);
            a {
                font-size: 18px;
                color:#acacac;
                margin:0 10px;
                &.on,&:hover {
                    font-weight: 500;
                    color:#000;
                }
            }
        }
    }
    &.sticky {
        position: fixed;
        left:0;
        top:0;
        width:100%;
        z-index: 50;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }
}


.main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    .circle {
        display: block;
        width: 952px;
        height: 952px;
        box-shadow: 100px 150px 200px 0 rgba(0, 0, 0, 0.08);
        border-radius: 100%;
        position: absolute;
        top:-96px;
        &.a {
            left: 120px;
            z-index: 2;
            animation:moveBox 1.2s ease-in-out infinite alternate-reverse;
        }
        &.b {
            left:250px;
            z-index: 1;
            animation:moveBox2 1.2s ease-in-out infinite alternate-reverse;
        }
    }
    @keyframes moveBox {
        from {left:-50px;}
        to {left:150px;}
    }
    @keyframes moveBox2 {
        from {left:100px;}
        to {left:-50px;}
    }
    .section {
        width: 100%;
        max-width: 1920px;
        padding-top: 100px;
        position: relative;
        z-index: 10;
    }
    .home {
        width: 100%;
        height: 856px;
        .inner {
            width: 1080px;
            margin:0 auto;
            padding: 276px 0 0 270px;
            position: relative;
        }
        .sns_list {
            position: absolute;
            left: -100px;
            top:143px;
            li {
                margin-bottom: 78px;
            }
        }
        .text-wrapper {
            width: 650px;
        }
        .ml10 .letters {
            display: inline-block;
            line-height: 1em;
            transform-origin: 0 0;
            font-size: 66px;
            font-weight: 900;
            &:nth-child(4) {
                margin-right: 10px;
            }
        }
        .t1 {
            margin-top: 26px;
            font-size: 18px;
            line-height: 1.78;
            letter-spacing: -0.7px;
            color: #333;
        }
        .btn_next {
            position: absolute;
            left: 50%;
            bottom:0;
            display: block;
            width: 84px;
            height: 84px;
            margin-left: -42px;
            transform: rotate(-270deg);
            background-image: linear-gradient(225deg, rgba(0, 10, 255, 0.74) 0, #b231be 100%);
            border-radius: 100%;
            img {
                transform: rotate(270deg);
            }
        }
        
    }
    .mission {        
        .inner {
            width: 1080px;
            padding-top: 145px;
            margin:0 auto;
            position: relative;
            z-index: 10;
        }
        .title {
            font-size: 44px;
            letter-spacing: -2px;
            color: #000;
            font-weight: 900;
        }
        .t1 {
            margin-top: 10px;
            font-size: 18px;
            line-height: 1.78;
            letter-spacing: -0.7px;
            color: #333;
        }
        ul {
            margin-top: 48px;
            padding-left: 270px;
            background:url(../img/img-dot-pc.svg) no-repeat 156px 10px;
            font-size: 14px;
            line-height: 1.86;
            letter-spacing: -0.5px;
            color: #333;
            display: flex;
            li {
                width: 360px;
                &:first-child {margin-right: 45px;}
            }
        }
    }
    .value {
        position: relative;
        height: 1140px;
        &::before {
            content: '';
            display: block;
            width: 960px;
            height: 800px;
            background: url(../img/img-value-01-pc.svg) no-repeat 0 0;
            position: absolute;
            left: 0;
            top:0;
        }
        &::after {
            content: '';
            display: block;
            width: 960px;
            height: 1163px;
            background: url(../img/img-value-02-pc.svg) no-repeat 0 0;
            position: absolute;
            left: 960px;
            top:165px;
        }
        .inner {
            position: relative;
            z-index: 10;
            width: 1080px;
            margin:0 auto;
            &::after {
                content: '';
                display: block;
                width: 54px;
                height: 54px;
                background: url(../img/img-dot-pc.svg) no-repeat 0 0;
                position: absolute;
                left: 435px;
                top:540px;
            }
        }
        ol {
            position: relative;
            
            li {
                position: absolute;
                &::before {
                    content: '';
                    display: block;
                    width: 2px;
                    background-color: #000;
                    position: absolute;
                    top:0;
                }
                &:nth-child(1) {
                    left: 0;
                    top:315px;
                    padding-left: 60px;
                    .num {
                        left: 60px;
                        top:-100px;
                    }
                    &::before {
                        left:0;
                        height: 210px;
                    }

                }
                &:nth-child(2) {
                    left: 674px;
                    top:409px;
                    padding-right:70px;
                    .num {
                        left: 0;
                        top:-100px;
                    }
                    &::before {
                        right:0;
                        height: 434px;
                    }
                }
                &:nth-child(3) {
                    left: 208px;
                    top:805px;
                    padding-left: 60px;
                    .num {
                        left: 60px;
                        top:-100px;
                    }
                    &::before {
                        left:0;
                        height: 434px;
                    }
                }
                
            }
            .num {
                font-family: Poppins;
                font-size: 44px;
                font-weight: 300;
                letter-spacing: -1px;
                color: #000;
                position: absolute;
            }
            b {
                font-size: 32px;
                line-height: 1.25;
                letter-spacing: -1px;
                color: #000;
                font-weight: 900;
            }
            p {
                width: 270px;
                margin-top: 14px;
                font-size: 18px;
                line-height: 1.78;
                letter-spacing: -0.7px;
                color: #333;
            }
        }
    }
    .project {
        .inner {
            padding-top: 100px;
            width: 1080px;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            .cont {
                width: 500px;
                .img_box {
                    width: 100%;
                    height: 280px;
                    border-radius: 40px;
                    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0);
                    background-color: #fafafa;
                    overflow: hidden;
                    img {width: 100%;}
                }
                .tit_box {
                    margin: 40px 0;
                    position: relative;
                    .title {
                        font-family: Poppins;
                        font-size: 32px;
                        font-weight: 500;
                        letter-spacing: -1px;
                        color: #000;
                        margin-bottom: 10px;
                    }
                    
                    span {
                        padding: 2px 14px 4px 13px;
                        border-radius: 19.5px;
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                        background-color: #dc7197;
                    }                    
                    .btn_link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 64px;
                        height: 64px;
                        transform: rotate(-270deg);
                        background-image: linear-gradient(225deg, rgba(0, 10, 255, 0.74) 0%, #b231be 100%);
                        border-radius: 100%;
                        position: absolute;
                        right: 0%;
                        top:8px;
                        img {
                            transform: rotate(270deg);
                        }
                    }
                    &.off {
                        .title {
                            color:#c8c8c8;
                        }
                        span {
                            background: #e2e2e2;
                        }
                        .btn_link {
                            background: #e2e2e2;
                        }
                    }
                }
                .text_box {
                    font-size: 18px;
                    line-height: 1.78;
                    letter-spacing: -0.7px;
                    color: #333;
                    p {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .team {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 1248px;
            height: 2775.5px;
            transform: rotate(-45deg);
            border-top-left-radius:750px ;
            border-top-right-radius:750px ;
            background-image: linear-gradient(35deg, #e1e1e1, #ffffff);
            position: absolute;
            left: 614px;
            top:-140px;
        }
        .inner {
            width: 1080px;
            margin:0 auto;
            position: relative;
            padding-top: 200px;
            z-index: 10;
            background: url(../img/img-dot-pc.svg) no-repeat 0 350px;
            display: flex;
            justify-content: space-between;
            
            h2 {
                font-size: 44px;
                font-weight: 900;
                letter-spacing: -2px;
                color: #000;
            }
            & > div {
                width: 810px;
                font-size: 18px;
                line-height: 1.78;
                letter-spacing: normal;
                color: #333;
                p {
                    margin-bottom: 30px;
                }
            }
        }
        
    }
    .news {
        .inner {
            width: 1080px;
            margin:0 auto;
            padding-bottom: 160px;
            h2 {
                font-size: 44px;
                font-weight: 900;
                letter-spacing: -2px;
                color: #000;
            }
            ul {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                li {
                    width: 500px;
                }
                .img_box {
                    width: 100%;
                    height: 280px;
                    border-radius: 40px;
                    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0), 40px 40px 40px 0 rgba(0, 0, 0, 0.05);
                    background-color: #fafafa;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .tit {
                    margin-top: 35px;
                    font-size: 32px;
                    font-weight: 900;
                    line-height: 1.38;
                    letter-spacing: -1px;
                    color: #000;
                }
                .txt {
                    margin-top: 25px;
                    font-size: 18px;
                    line-height: 1.78;
                    letter-spacing: -0.7px;
                    color: #333;
                    overflow : hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

.footer {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.78;
    z-index: 10;
    color:#333;
    .inner {
        p {
            line-height: 2.2;
        }
    }
}